@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
  border-radius: 25%;
}

.btn {
  display: inline-block;
  border: none;
  background: #b36b00;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background: rgb(0, 0, 0);
}